@import "sass/mixins";

body {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #141414;
    background: white url('../images/bg.jpg') center top no-repeat;
    
    @include breakpoint(mobile) {
        background: white url('../images/bg.jpg') calc(50% - 150px) top no-repeat;
    }
}

* {
    margin: 0;
    padding: 0;
}

.page {
    float: left;
    width: 100%;
    overflow: hidden;
}

h1, h2, h3, h4 {
    font-family: 'Katibeh', cursive;
}

h1 {
    color: #951b81;
    font-size: 47px;
    float: left;
    width: 100%;
    text-align: center;
    position: relative;
    line-height: 36px;
    margin-top: 8px;
    padding-bottom: 30px;
    margin-bottom: 39px;
    margin-top: 47px;
    
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 34px;
        height: 5px;
        margin: auto;
        background: #e6007e;
    }
}

h2 {
    font-size: 28px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

h3 {
    font-size: 30px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 19px;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
    @include clearfix();
    
    @include breakpoint(tablet) {
        width: 768px;
    }
    
    @include breakpoint(mobile) {
        width: 300px;
    }
}

.top {
    float: left;
    width: 100%;
    z-index: 2;
    position: relative;
    
    .title {
        float: left;
        margin-top: 69px;
        margin-left: 41px;
        
        @include breakpoint(mobile) {
            display: none;
        }
    }
}

.info {
    float: left;
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: 91px;
    
    .contact {
        position: relative;
        width: 600px;
        float: left;
        background: white;
        padding-bottom: 113px;
        -webkit-box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);
        -moz-box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);
        box-shadow: 19px -15px 137px -6px rgba(0,0,0,0.2);

        @include breakpoint(mobile) {
            width: 100%;
            margin-bottom: 0px;
            padding-bottom: 25px;
        }
        
        .left {
            float: left;
            width: 100%;
        }
        
        .contact-info {
            float: left;
            width: 25%;
            text-align: center;
            margin-left: 53px;
            
            &.email {
                margin-left: 22px;
                
                @include breakpoint(mobile) {
                    margin-left: 0;
                    width: 100%;
                }
            }
            
            &.adress {
                margin-left: 27px;
                
                @include breakpoint(mobile) {
                    margin-left: 0;
                    width: 100%;
                }
            }
            
            @include breakpoint(mobile) {
                margin-left: 0;
                width: 100%;
                margin-bottom: 10px
            }
            
            p {
                margin-top: 9px;
            }
        }
    }
}

#map {
    position: relative;
    margin-top: 63px;
    width: 600px;
    height: 350px;
    background: white;
    float: left;
    
    @include breakpoint(mobile) {
        width: 300px;
        height: 300px;
        margin-top: 0px;
    }
}

.footer {
    float: left;
    width: 100%;
    height: 67px;
    background: #951b81;
    margin-top: -27px;
    
    @include breakpoint(mobile) {
        height: 220px;
        background: #951b81;
        margin-top: -184px;
    }
}